*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('Taj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
}

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:first-child{
    color: #00b894;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section{
    
}

section h3{
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1{
    padding: 30px;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}


.btn:hover{
    background: #00b894;
    color: #000;
}


.btn{
    background: #fff;
    color: #000;
    padding: 12px 30px;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

.change_content:after{
    content:'';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    0%{content:"AGRA";}
    10%{content:"KASHMIR";}
    20%{content:"KERELA";}
    30%{content:"DELHI";}
    40%{content:"GOA";}
    50%{content:"MUMBAI";}
    60%{content:"RAJASTHAN";}
    70%{content:"SIKKIM";}
    85%{content:"HIMALAYAN MOUNTAIN RANGES";}
    100%{content:"BADRINATH & KEDARNATH";}
}